# SPDX-PackageSummary: mcxRescue-live-build
# SPDX-FileComment: mcxtemplate loader chroot hook
# SPDX-FileCopyrightText: Copyright (C) 2025 Magna Capax Finland OY
# SPDX-License-Identifier: MPL-2.0

[Unit]
Description=Load mcxTemplate
ConditionKernelCommandLine=|load-mcxtemplate

[Service]
Type=oneshot
ExecStart=/usr/lib/{{ PRODUCT_ID }}/load-mcxtemplate


[Install]
WantedBy=multi-user.target
